<!-- // student Name     - student number
// -------------------------------------
// Ashish Neupane   - 8897734
// Nandipati Vamsi  - 8922647
// Bipin Gurung     - 8899022 -->

<!-- Footer-->
<footer class="footer py-4">
  <div class="container mt-4">
    <div class="d-flex justify-content-center text-center gap-2">
      <div>
        <p class="fw-bold">Student Name</p>
        <p>Ashish Neupane</p>
        <p>Nandipati Vamsi</p>
        <p>Bipin Gurung</p>
      </div>

      <div>
        <p class="fw-bold">Student Number</p>
        <p>8897734</p>
        <p>8922647</p>
        <p>8899022</p>
      </div>
    </div>
    <div class="text-center mt-3 fw-bold">
      Copyright &copy; Group9Final 2023
    </div>
  </div>
</footer>
